In [1]:
import pandas as pd
df=pd.read_csv(r"C:\Users\GT-499\Desktop\Excelr_Edtech_pvt_ltd\Dr.Gns Presentation\COMPLETED BATCH\Presentation 9.30-11.30\KNN\Downloads\tips (6).csv")

In [2]:
df
# USE CASE:
#WE ARE TRYING ANLAYZE WHEHTHER THERE IS A RELATIONSHIP BETWEEN GENDER  AND SMOKERS using CHISQUARE TEST

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251
...,...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Michael Avila,5296068606052842,Sat2657
240,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Monica Sanders,3506806155565404,Sat1766
241,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Keith Wong,6011891618747196,Sat3880
242,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dennis Dixon,4375220550950,Sat17
243,18.78,3.00,Female,No,Thur,Dinner,2,9.39,Michelle Hardin,3511451626698139,Thur672

In [3]:
df.shape

(244, 11)

In [4]:
df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size',
       'price_per_person', 'Payer Name', 'CC Number', 'Payment ID'],
      dtype='object')

In [5]:
dataset_table=pd.crosstab(df['sex'],df['smoker'],margins=True)
# cROSS TAB IN pYTHON ALLOWS US TO CREATE AND CONVERT CATEGORICAL TO NUMERICAL(nlp,Text mining)

In [6]:
dataset_table

smoker   No  Yes  All
sex
Female   54   33   87
Male     97   60  157
All     151   93  244

In [7]:
dataset_table1=pd.crosstab(df['sex'],df['smoker'])

In [8]:
dataset_table1

smoker  No  Yes
sex
Female  54   33
Male    97   60

In [9]:
observed_values=dataset_table1.values

In [10]:
observed_values

array([[54, 33],
       [97, 60]], dtype=int64)

In [12]:
import scipy.stats as stats
from scipy.stats import chi2_contingency

In [13]:
val=stats.chi2_contingency(dataset_table1)

In [14]:
print(val)

Chi2ContingencyResult(statistic=0.0, pvalue=1.0, dof=1, expected_freq=array([[53.84016393, 33.15983607],
       [97.15983607, 59.84016393]]))

In [32]:
Expected_Values=val[3]
Expected_Values

array([[53.84016393, 33.15983607],
       [97.15983607, 59.84016393]])

In [34]:
from scipy.stats import chi2
chi_square=sum([(o-e)**2/e for o,e in zip(observed_values,Expected_Values)])
chi_square

array([0.00073745, 0.00119737])

In [35]:
#0.000737+0.00119

0.0019270000000000001

In [36]:
chi_square_statistic=chi_square[0]+chi_square[1]
chi_square_statistic

0.001934818536627623

In [25]:
no_of_rows=len(dataset_table1.iloc[0:2,0])
no_of_columns=len(dataset_table1.iloc[0,0:2])

In [37]:
ddof=(no_of_rows-1)*(no_of_columns-1)
alpha=0.05
ddof

1

In [38]:
critical_value=chi2.ppf(q=1-alpha,df=ddof)
critical_value

3.841458820694124

In [31]:
if chi_square_statistic>=critical_value:
    print("Reject Null Hypothesis:There is a no relationship between two categorical variables")
else:
    print("Accept Null Hypothesis:There is a relationship between two categorical variables")

Accept Null Hypothesis:There is a relationship between two categorical variables

In [39]:
#3.84 is greater than 0.001934818536627623 ,fail to reject null hypothesis
#Accept Null Hypothesis:There is a relationship between two categorical variables